/* *:hover {
    border: 1px solid black;
} */

:root {
    --main-color-hue: 0;
    --main-color-saturation: 100%;
    --main-color-lightness: 0%;
    --main-color: hsl(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness));
    /* --accent-color-hue: 150; */
    --accent-color-hue: 160;
    /* --accent-color-hue: 280; */
    --accent-color-saturation: 100%;
    --accent-color-lightness: 50%;
    --accent-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), var(--accent-color-lightness));
    --accent-color-light: hsl(var(--accent-color-hue), var(--accent-color-saturation), calc(var(--accent-color-lightness) + 10%));
    --accent-color-lighter: hsl(var(--accent-color-hue), var(--accent-color-saturation), calc(var(--accent-color-lightness) + 20%));
    --accent-color-dark: hsl(var(--accent-color-hue), var(--accent-color-saturation), calc(var(--accent-color-lightness) - 10%));
    --accent-color-darker: hsl(var(--accent-color-hue), var(--accent-color-saturation), calc(var(--accent-color-lightness) - 20%));
    --header-color: var(--accent-color);
    --navbar-color: var(--accent-color); 
    --navbar-menu-item-hover-color: var(--accent-color-dark); 
    --navbar-menu-item-padding: 5px;
    --navbar-submenu-margin-top: calc(var(--navbar-menu-item-padding) - 1px);
    --dropdown-menu-color: var(--navbar-menu-item-hover-color);
    --dropdown-menu-hover-color: var(--accent-color-darker); 
    --main-web-font-size: 25px;
    --main-web-nav-font-size: calc(var(--main-web-font-size) + 5px);
    --main-web-h4-size: calc(var(--main-web-font-size) + 15px);
    --main-web-h3-size: calc(var(--main-web-font-size) + 25px);
    --main-web-h2-size: calc(var(--main-web-font-size) + 35px);
    --main-web-h1-size: calc(var(--main-web-font-size) + 45px);

}

.hide {
    display: none;
    visibility: hidden;
}

/* smaller screen size */
/* verticalize */
@media (max-width: 1000px) {
    main {
        text-align: center;
    }

    .cardholder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardholder .preview-card {
        width: 60%;
    }

    #hero-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em 0;
    }

    #hero-container #hero-info {
        margin-top: 1em;
        order: 5;
    }

    #hero-container > img {
        order: 1;
        width: 20em;
        height: 20em;
        margin: 0 auto;
    }        

    #contact-card > img {
        display: none;
        visibility: hidden;
    }
}

/* phone */
@media (max-width: 500px) and 
        (hover: none) and (pointer: coarse) {
    #about {
        background-color: blue;
    }
}

/* tablet */
@media (min-width: 501px) and (max-width: 1000px) and 
        (hover: none) and (pointer: coarse) {
    #about {
        background-color: brown;
    }
}

/* touchscreen device */
@media (hover: none) and (pointer: coarse){
    #bio {
        background-color: blue;
    }

    #nav-menu {
        display: none;
        visibility: hidden;
    }

    #back-icon{
        height: 2em;
        width: 2em;
        color: black;
    }
}

/* laptop */
@media screen and (hover: hover) {
    #bio {
        background-color: yellow;
    }
}

html {
    scroll-behavior: smooth;
}

body, button{
    font-family: 'PT Sans Narrow', sans-serif;
    /* font-size: 20px; */
}

header {
    background-color: var(--header-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.icon {
    width: 2em;
    height: 2em;
}

h1 { 
    font-size: var(--main-web-h1-size);
    display: inline-block;
}

h2 {
    font-size: var(--main-web-h2-size);
}

h3 {
    font-size: var(--main-web-h3-size);
}

h4 {
    font-size: var(--main-web-h4-size);
}

h1, h2, h3 {
    transform: rotate(-4deg);
    color: var(--accent-color-darker);
}

p {
    font-size: var(--main-web-font-size);
}

#name-home-link, h1, h2, h3 {
    font-family: 'Caveat', cursive;
}

main {
    width: 90%;
    margin: 0px auto 0px auto;
}

section {
    margin: 1%;
}

    section > p {
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }

footer {
    text-align: center;
}

.menu {
    list-style-type: none;
}

.menu-item > a {
    padding: var(--navbar-menu-item-padding);
}

.dropdown {

}
    .dropdown .menu {
        margin-top: var(--navbar-submenu-margin-top);
        padding: 0;
        margin-left: 0;
        position: absolute;
    }

    .dropdown .menu-item {
        display: none;
        margin: var(--navbar-menu-item-padding) 0;
    }

    .dropdown a:hover {
        background-color: var(--dropdown-menu-hover-color);
    }

.dropdown:hover {

}
    .dropdown:hover .menu {
        background-color: var(--dropdown-menu-color);
    }

    .dropdown:hover .menu-item{
        display: block;
    }

.preview-card {
    width: 30%;
    text-align: center;
    padding: 10px;
    border: .5vw solid var(--header-color);
}

.full-card {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.button-like {
    border-radius: 5px;
    padding: .3em;
    display: inline-block;
    margin-top: .5em;
    text-decoration: none;
    color: white;
    background-color: var(--accent-color-dark);
    box-shadow: -3px 3px 5px -3px black;
    font-size: var(--main-web-font-size);
    border: none;
}

#navbar {
    background-color: var(--navbar-color);
    display: flex;
    padding: .5em;
    font-size: var(--main-web-nav-font-size);
}

#nav-menu {
    margin: auto 0 auto auto;
    padding: 0;
    display: inline-flex;
}

    #nav-menu > .menu-item > a:hover,
    #nav-menu > .menu-item:hover > a {
        background-color: var(--navbar-menu-item-hover-color);
    }

    #nav-menu > .menu-item > a {
        /* background-color: blanchedalmond; */
        /* placeholder*/
    }

#name-home-link {
    /* background-color: bisque; */
    /* placeholder */
}

/* bigger screen sizes*/
/* horizontalize */
@media (min-width: 1001px) {
    #hero-container {
        display: flex;
        flex-direction: row;
        margin-right: 10%;
        height: 22em;
    }

        #hero-container img {
            width: 20em;
            height: 20em;
            margin: auto 0;
        }
        
    .cardholder {
        display: flex;
        justify-content: space-evenly;
    }
    
    #contact-card img {
        width:10em;
    }
    
    #contact-info {
        padding-right: 10px;
    }
}

#hero-info {
    text-align: center;
    margin: auto 10%;
}

    #hero-info > p {
        padding: 1em 0;
        border: 1px solid black;
        background-color: rgba(240, 248, 255, .9);
        margin: 0 0;
    }

#hero-social-contact-container {
    margin: 3% 0;
}

#contact-card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}