main {
    width: 90%;
    margin: 0px auto 0px auto;
}

.menu {
    list-style-type: none;
}

.menu-item > a {
    padding: 5px 5px;
}


.dropdown {

}
    .dropdown .menu {
        margin-top: 5px;
        padding: 0;
        margin-left: 0;
        position: absolute;
    }

    .dropdown .menu-item {
        display: none;
        margin: 5px 0;
    }

    .dropdown a:hover {
        background-color: coral;
    }

.dropdown:hover {

}
    .dropdown:hover .menu {
        background-color: bisque;
    }

    .dropdown:hover .menu-item{
        display: block;
    }

#navbar {
    background-color: aqua;
    display: flex;
    padding: 10px 10px;
}

#navbar a{
    text-decoration: none;
    color: black;
}

#nav-menu > .menu-item > a:hover,
#nav-menu > .menu-item:hover > a {
    background-color: brown;
}

#nav-menu > .menu-item > a {
    background-color: blanchedalmond;
}

#name-home-link {
    background-color: bisque;
}

#nav-menu {
    background-color: aquamarine;
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
}

#hero-container {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
}

#hero-info {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

