main {
    width: 90%;
    margin: 0px auto 0px auto;
}

.menu {
    list-style-type: none;
}

.menu-item {
    padding: 5px;
}

.menu-item:hover {
    background-color: brown;
}

.dropdown .menu-item {
    /* visibility: hidden; */
}

    .dropdown .menu-item:hover {
        background-color: blue;
    }

#navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

#name-home-link {
    background-color: bisque;
    
}

#nav-menu {
    background-color: aquamarine;
    display: flex;
}

#hero-container {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
}

#hero-info {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

